<div *ngFor="let emp of employees" class="content page">
    <div class="row d-flex flex-row-reverse justify-content-between p-2">
        <div class="col-3 text-center">
            <img src="assets/img/المملكة.JPG" class="img-fluid" alt="">
            <p>وزارة التعليم</p>
            <p>الإدارة العامة للتعليم بمنطقة {{orgDetails.Region}}</p>
            <p>إدارة الموارد البشرية</p>
        </div>

        <div class="col-3">
            <img class="img-fluid" src="assets/img/وزارة التعليم.JPG" alt="">
        </div>

        <div class="col-3 text-end">
            <p class="">:الرقـــــــــــــــم </p>
            <p>:التاريـــــــــــخ</p>
            <p>:المرفقـات</p>

            <!-- <p class="text-start">نموذج رقم(19)</p>
            <p class="text-start">رمز النموذج:(و.م.ع.ن-02-03)</p> -->
        </div>
    </div>


    <div class="text-center">
        <h5>اسم النموذج:مسائلة على ساعات تأخر وخروج مبكر</h5>
    </div>
    <table class="table" style="direction: rtl;">
        <thead>
            <tr>
                <th class="table-secondary col-4">>ال{{orgDetails.OrgType}}</th>
                <td>{{orgDetails.OrgName}}</td>
            </tr>
        </thead>
    </table>
    <table class="table" style="direction: rtl;">
        <thead>
            <tr>
                <th class="table-secondary col-4">رقم الهوية الوطنية</th>
                <td>{{emp.EmployeeIdNum}}</td>
            </tr>
        </thead>
    </table>
    <table class="table " style="direction: rtl;">
        <thead class="text-center">
            <tr>
                <th class="table-secondary col-4">الاسم</th>
                <th class="table-secondary">التخصص</th>
                <th class="table-secondary">المستوى/المرتبة</th>
                <th class="table-secondary">رقم الوظيفة</th>
                <th class="table-secondary">العمل الحالي</th>
            </tr>
        </thead>
        <tbody>
            <td>{{emp.EmployeeName}}</td>
            <td>{{emp.Major}}</td>
            <td>{{emp.Level}}</td>
            <td>{{emp.JobNumber}}</td>
            <td>{{emp.CurrentJob}}</td>
        </tbody>
    </table>

    <div class="text-end">
        <p class="mb-2">نظراً لتكرار تأخيرك(840)دقيقة بما يعادل يومان ،وقد سبق تنبيهك شفهياً وخطياً ،وأخذ تعهد عليك ،لذا وجب مسائلتك عن أسباب التأخير ولفت نظرك </p>
        
    </div>
    <div class="row mt-4">
        <div class="col-5 " style="direction: rtl;">
            <p class="text-center">الرئيس المباشر</p>
            <p>الإسم:</p>
            <p>التوقيع:</p>
            <p>التاريـــخ: &nbsp; &nbsp;&nbsp; &nbsp; /&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; /</p>
        </div>
        <div class="col-3 text-center">
            <br>
            <br>
            <br>
            <p>الختـــــــم</p>
        </div>
    </div>
    <div class="footer  text-end">
        <p>صورة/ للموظفين لمتابعة تنفيذ الحسم(تنفيذ الأنظمة)</p>
        <p>صورة /لمكتب التعليم</p>
        <p>صورة/لملفه بالمدرسة</p>
    </div>
</div>

<div class=" page">
    <app-final-desition></app-final-desition>
</div>