<app-nav-icons></app-nav-icons>
<div class="container">
    <div class="card mt-5 mb-2">
        <div class="card-header">
            <div class="row p-2">
                <div class="">
                    إجراءات التأخير
                </div>

            </div>
        </div>
        <div class="card-body" style="height: 400px; overflow-y: scroll ">
            <table class="table table-striped text-center">
                <thead>
                    <tr>
                        <th class="col-1">الرفع للموارد البشرية</th>
                        <th class=" col-1">الرفع للموارد البشرية</th>
                        <th class=" col-1">مسائلة ولفت نظر</th>
                        <th class=" col-1">لفت نظر</th>
                        <th class="col-1">تعهد خطي2</th>
                        <th class=" col-1">تعهد خطي1</th>
                        <th class="col-1">تنبيه خطي</th>
                        <th class="col-1">تنبيه شفوي</th>
                        <th class=" col-3">الاسم</th>
                        <th class="col-1">م</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let emp of employeeProcedures|keyvalue; let i=index">

                        <td class=" col-1 "> <input *ngIf="emp.value.procedure8>0 else notassign" type="checkbox"
                                [checked]="emp.value.procedure8==2" (change)='toggleIsSigned(emp.value.EmployeeId
                                ,8,$event)'>
                        </td>
                        <td class=" col-1 "> <input *ngIf="emp.value.procedure7>0 else notassign" type="checkbox"
                                [checked]="emp.value.procedure7==2" (change)="toggleIsSigned(emp.value.EmployeeId,7,$event)">
                        </td>
                        <td class=" col-1 "> <input *ngIf="emp.value.procedure6>0 else notassign" type="checkbox"
                                [checked]="emp.value.procedure6==2" (change)="toggleIsSigned(emp.value.EmployeeId,6,$event)">
                        </td>
                        <td class=" col-1 "> <input *ngIf="emp.value.procedure5>0 else notassign" type="checkbox"
                                [checked]="emp.value.procedure5==2" (change)="toggleIsSigned(emp.value.EmployeeId,5,$event)">
                        </td>
                        <td class=" col-1 "> <input *ngIf="emp.value.procedure4>0 else notassign" type="checkbox"
                                [checked]="emp.value.procedure4==2" (change)="toggleIsSigned(emp.value.EmployeeId,4,$event)">
                        </td>
                        <td class=" col-1 "> <input *ngIf="emp.value.procedure3>0 else notassign" type="checkbox"
                                [checked]="emp.value.procedure3==2" (change)="toggleIsSigned(emp.value.EmployeeId,3,$event)">
                        </td>
                        <td class=" col-1"> <input *ngIf="emp.value.procedure2>0 else notassign" type="checkbox"
                                [checked]="emp.value.procedure2==2" (change)="toggleIsSigned(emp.value.EmployeeId,2,$event)">
                        </td>
                        <td class=" col-1"> <input *ngIf="emp.value.procedure1>0 else notassign" type="checkbox"
                                [checked]="emp.value.procedure1==2" (change)="toggleIsSigned(emp.value.EmployeeId,1,$event)">
                        </td>
                        <td class=" col-3 text-end">{{emp.value.EmployeeName}}</td>
                        <td class=" col-1">{{i+1}}</td>

                        <ng-template #notassign>
                            <input type="checkbox" disabled=true>
                        </ng-template>
                    </tr>

                </tbody>
            </table>

        </div>
    </div><!-- /.card -->
    <button class="btn btn-primary mb-4 ps-4 pe-4 pb-2" routerLink="/controllerPage">رجوع</button>
</div>
<app-footer></app-footer>