<div class="homeNave">
<div class="container">
    <div class="row align-items-center m-0">
        <div class="col-6 text-start">
            <h4 class="" style="color: white;">منصة كَنَّن</h4>
        </div>

        <div class="col-5 text-end ">
            <h6 class="" style="color:rgb(203, 182,163)"> إحدى مشاريع شركة كيين</h6>
        </div>

        <div class="col-1 text-end p-0">
            <img class="  img-fluid homeNave" src="assets/img/logo2.jpg" alt="">
        </div>
    </div>
</div>
 

</div>

