<div class="container">

    <div class="row mt-5">
        <div class="col-md-6 text-end">
            <div class="col-11 ms-auto ">
                <div class="row me-4">
                    <h3 class="title2 mb-4">منصة كَنَّـن - احدى مشاريع شركة كيـن</h3>
                    <p dir="rtl">
                        منصة دعم لوجيستي برمجي، الأولى من نوعها في المملكة ، والتي تعزّز التواجد الرقمي، صُممت بتجربة
                        مستخدم مرنة، وفي غاية السهولة.
                    </p>
                    <p dir="rtl">
                        انطلقت منصة كَنَّن لتحقيق العديد من الأهداف الطموحة التي تطور من أداء الموظف من خلال متابعة
                        انضباطه.
                        كما أنها ترفع الوعي التقني مع تحسين سرعة الإجراءات وإنجازها.
                    </p>
                    <p class="mb-5">فريق عمل المنصة</p>
                </div>
                <div class="row justify-content-evenly">
                    <div class="col-sm-4">
                        <div class="text-center" style="cursor: pointer;" routerLink="/register">
                            <img style="width:55px;height:60px;" src="assets/img/signup.jpg" alt="">
                            <h5 class="title2 mt-2">اشترك الان</h5>
                        </div>
                    </div>
                    <div class="col-sm-4" >
                        <div class="text-center" style="cursor: pointer;">
                            <img style="width:55px;height: 60px;" src="assets/img/film-slate.png" alt="">
                            <h5 class="title2 mt-2">الفيلـم التعريفى</h5>
                        </div>
                    </div>
                    <div class="col-sm-4" >
                        <div class="text-center" style="cursor: pointer;">
                            <img style="width:55px;height: 60px;" src="assets/img/book.png" alt="">
                            <h5 class="title2 mt-2">دليل الاستخدام</h5>
                        </div>
                    </div>
                    
                </div>

            </div>


        </div>

        <div class="col-md-6 line ">

            <div class="col-md-10   ms-auto p-2"  >

                <div class="row loginCard loginCard1">
                    <div class="coloredPart bg-primary"></div>
                    <div class="col-5 ">
                        <div class=" bold text-primary mt-2">منشأة تعليمية</div>

                        <h6>تسجيل الدخول للمدارس أو المعاهد</h6>
                    </div>
                    <div class="col-4 ">
                        <div class="loginCardBackground1">
                            <div class="transeparence"></div>
                        </div>
                    </div>
                    <div class="col-3 ">

                        <button class="button mt-auto btn btn-primary" (click)="logIn()"> تسجيل الدخول</button>
                    </div>
                </div>


            </div>

            <div class="col-md-10  ms-auto p-2"  >
                <div class="row loginCard loginCard2">
                    <div class="coloredPart bg-success"></div>
                    <div class="col-5 ">
                        <div class="bold text-success mt-2">مكاتب تعليم</div>
                        <h6>تسجيل الدخول لمكاتب التعليم</h6>
                    </div>
                    <div class="col-4 ">
                        <div class="loginCardBackground2">
                            <div class="transeparence"></div>
                        </div>
                    </div>
                    <div class="col-3 ">
                        <button class="button mt-auto btn btn-success" (click)="logIn()"> تسجيل الدخول</button>
                    </div>
                </div>
            </div>

            <div class="col-md-10  ms-auto p-2"  >
                <div class="row loginCard loginCard3">
                    <div class="coloredPart bg-secondary"></div>
                    <div class="col-5">
                        <div class="bold text-secondary mt-2"> إدارات تعليم</div>
                        <h6>تسجيل الدخول لإدارة تعليم</h6>
                    </div>
                    <div class="col-4">
                        <div class="loginCardBackground3">
                            <!-- <div class="transeparence"></div> -->
                        </div>
                    </div>
                    <div class="col-3 ">
                        <button class="button mt-auto btn btn-secondary" (click)="logIn()"> تسجيل الدخول</button>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>
<app-footer></app-footer>